### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchasedata = pd.read_csv(file_to_load)

In [2]:
purchasedata.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [3]:
refineddataset=purchasedata.loc[:,["SN","Age","Gender"]]
refineddataset.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [4]:
newdataset=refineddataset.drop_duplicates()
newdataset
newdataset_one=newdataset.rename(columns={"SN":"Total Players"})
newdataset_one

     Total Players  Age  Gender
0          Lisim78   20    Male
1      Lisovynya38   40    Male
2       Ithergue48   24    Male
3    Chamassasya86   24    Male
4        Iskosia90   23    Male
..             ...  ...     ...
773         Hala31   21    Male
774     Jiskjask80   11    Male
775     Aethedru70   21  Female
777     Yathecal72   20    Male
778        Sisur91    7    Male

[576 rows x 3 columns]

In [5]:
totalplayers=newdataset_one.count()[0]
totalplayers

576

## Player Count

* Display the total number of players

In [6]:
totalplayers_df=pd.DataFrame({"Total Players":[totalplayers]})

totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Calculations

average_price=purchasedata['Price'].mean()
unique_items=len(purchasedata['Item Name'].unique())
total_purchases=purchasedata['Purchase ID'].count()
total_revenue=(purchasedata["Price"]).sum()

summarytable=pd.DataFrame({"Number of Unqiue Items":[unique_items], "Average Purchase Price":[average_price],
               "Total Number of Purchases":[total_purchases], "Total Revenue":[total_revenue]})


summarytable["Average Purchase Price"] = summarytable["Average Purchase Price"].map("${:.2f}".format)
summarytable["Total Revenue"] = summarytable["Total Revenue"].map("${:.2f}".format)

summarytable.head()

,Number of Unqiue Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
newdataset.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [9]:
totalplayers=newdataset.count()[0]

male_players= newdataset.loc[newdataset["Gender"] == "Male"].count()[0]
female_players=newdataset.loc[newdataset["Gender"] == "Female"].count()[0]
other_notdisclosed=newdataset.loc[newdataset["Gender"] == "Other / Non-Disclosed"].count()[0]
totalplayers

576

In [10]:
gender_split=newdataset["Gender"].value_counts()
gender_split

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
pctmale=((male_players/totalplayers)*100).round(2)
pctfemale=((female_players/totalplayers)*100).round(2)
pctother=((other_notdisclosed/totalplayers)*100).round(2)

In [12]:
genderdemographics=pd.DataFrame({" ":["Male","Female","Other/ Non-Disclosed"],"Total Count":[male_players,female_players,other_notdisclosed],
                                 "Percentage of Players":[pctmale,pctfemale,pctother]})
genderdemographics_updated=genderdemographics.set_index(" ")

genderdemographics_updated["Percentage of Players"] = genderdemographics_updated["Percentage of Players"].map("{:.2f}%".format)


genderdemographics_updated.head()

                      Total Count Percentage of Players

Male                          484                84.03%
Female                         81                14.06%
Other/ Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [13]:
#Purchase Counts
totalmale_players= purchasedata.loc[purchasedata["Gender"] == "Male"].count()[0]
totalfemale_players=purchasedata.loc[purchasedata["Gender"] == "Female"].count()[0]
totalother_notdisclosed=purchasedata.loc[purchasedata["Gender"] == "Other / Non-Disclosed"].count()[0]

In [14]:
#Gender DF
male=purchasedata.loc[purchasedata["Gender"] == "Male"]
female=purchasedata.loc[purchasedata["Gender"] == "Female"]
othernotdisclosed_df=purchasedata.loc[purchasedata["Gender"] == "Other / Non-Disclosed"]

In [15]:
#Total Purchase Value
totalpurchasevaluemale=(male["Price"]).sum()
totalpurchasevaluefemale=(female["Price"]).sum()
totalothernotdisclosed_df=(othernotdisclosed_df["Price"]).sum()

totalpurchasevaluemale

1967.64

In [16]:
#Average Purchase Price

averagepricemale=(male["Price"]).mean()

averagepricefemale=(female["Price"]).mean()

averagepriceothernotdisclosed_df=(othernotdisclosed_df["Price"]).mean()

In [17]:
#Avg Total Purchase Per Person

maleavgtotalpurchase=(totalpurchasevaluemale/male_players)
roundedmaleavgtotalpurchase=maleavgtotalpurchase.round(2)

femaleavgtotalpurchase=(totalpurchasevaluefemale/female_players)
roundedfemaleavgtotalpurchase=femaleavgtotalpurchase.round(2)


otheravgtotalpurchase=(totalothernotdisclosed_df/other_notdisclosed)
roundedotheravgtotalpurchase=otheravgtotalpurchase.round(2)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purchasing_analysis_gender=pd.DataFrame({" ":["Gender", "Male","Female","Other/ Non-Disclosed"],
                                         "Purchase Count":[" ", totalmale_players,totalfemale_players,totalother_notdisclosed],
                                         "Average Purchase Price":[" ", averagepricemale,averagepricefemale,averagepriceothernotdisclosed_df],
                                        "Total Purchase Value":[" ",totalpurchasevaluemale,totalpurchasevaluefemale,totalothernotdisclosed_df],
                                        "Avg Total Purchase Per Person":[" ",roundedmaleavgtotalpurchase,roundedfemaleavgtotalpurchase,roundedotheravgtotalpurchase]})
purchasing_analysis_gender_updated=purchasing_analysis_gender.set_index(" ")

In [19]:
purchasing_analysis_gender_updated

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
,,,,
Gender,,,,
Male,652,3.01785,1967.64,4.07
Female,113,3.20301,361.94,4.47
Other/ Non-Disclosed,15,3.346,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
newdataset.count()

bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
binlabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(newdataset["Age"], bins, labels=binlabels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [21]:
newdataset["Age Ranges"] = pd.cut(newdataset["Age"], bins, labels=binlabels)
newdataset.head()

<ipython-input-21-a4c9d8048677>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdataset["Age Ranges"] = pd.cut(newdataset["Age"], bins, labels=binlabels)

              SN  Age Gender Age Ranges
0        Lisim78   20   Male      20-24
1    Lisovynya38   40   Male        40+
2     Ithergue48   24   Male      20-24
3  Chamassasya86   24   Male      20-24
4      Iskosia90   23   Male      20-24

In [22]:
agegroup=newdataset.groupby("Age Ranges")
agegroup.head()
print(agegroup["SN"].count())

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [23]:
age_totals = agegroup["Age Ranges"].value_counts()
age_pcts = (age_totals/totalplayers) * 100
rounded_age_pcts=age_pcts.round(2)

summary_three = pd.DataFrame({"Total Count": age_totals, "Percentage of Players": rounded_age_pcts})

summary_three["Percentage of Players"] = summary_three["Percentage of Players"].map("{:.2f}%".format)


summary_three

                       Total Count Percentage of Players
Age Ranges Age Ranges
<10        <10                  17                 2.95%
10-14      10-14                22                 3.82%
15-19      15-19               107                18.58%
20-24      20-24               258                44.79%
25-29      25-29                77                13.37%
30-34      30-34                52                 9.03%
35-39      35-39                31                 5.38%
40+        40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
#calculations

purchasedata['Age Ranges']=pd.cut(purchasedata["Age"], bins, labels=binlabels)

agepurchasecount = purchasedata.groupby(["Age Ranges"]).count()["Price"]

agetotalpurchasevalue = purchasedata.groupby(["Age Ranges"]).sum()["Price"]

agepurchaseprice = purchasedata.groupby(["Age Ranges"]).mean()["Price"]
roundedagepurchaseprice=agepurchaseprice.round(2)

agetotalpurchaseperperson = agetotalpurchasevalue/age_totals.tolist()
roundedagetotalpurchase_df=agetotalpurchaseperperson.round(2)

roundedagetotalpurchase_df

Age Ranges
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
Name: Price, dtype: float64

In [25]:
new_df_summary=pd.DataFrame({"Purchase Count":agepurchasecount, "Average Purchase Price":agepurchaseprice,"Total Purchase Price":agetotalpurchasevalue,
                             "Avg Total Purchase per Person":agetotalpurchaseperperson})

In [26]:
new_df_summary["Average Purchase Price"] = new_df_summary["Average Purchase Price"].map("${:.2f}".format)
new_df_summary["Total Purchase Price"] = new_df_summary["Total Purchase Price"].map("${:.2f}".format)
new_df_summary["Avg Total Purchase per Person"] = new_df_summary["Avg Total Purchase per Person"].map("${:.2f}".format)

new_df_summary

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
top_spenders=purchasedata.groupby(["SN"])

purchase_count_gamers=top_spenders["Item ID"].count()
average_purchase_price_gamers=top_spenders["Price"].mean()
total_purchase_value_gamers=top_spenders["Price"].sum()

Top_Spenders_Summary=pd.DataFrame({"Purchase Count":purchase_count_gamers, "Average Purchase Price":average_purchase_price_gamers,
                                   "Total Purchase Value":total_purchase_value_gamers,})

descending_order_summary = Top_Spenders_Summary.sort_values(["Total Purchase Value"], ascending=False).head()

In [28]:
descending_order_summary["Average Purchase Price"] = descending_order_summary["Average Purchase Price"].map("${:.2f}".format)
descending_order_summary["Total Purchase Value"] = descending_order_summary["Total Purchase Value"].map("${:.2f}".format)
descending_order_summary

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
most_popular_items = purchasedata[["Item ID", "Item Name", "Price"]]

grouped_most_popular_items = most_popular_items.groupby(["Item ID","Item Name"])
grouped_most_popular_items

In [30]:
popular_items_purchase_count = grouped_most_popular_items["Price"].count()
popular_items_purchase_price = grouped_most_popular_items["Price"].sum()
item_purchase_value = popular_items_purchase_price/popular_items_purchase_count


summarytable_six_df = pd.DataFrame({"Purchase Count": popular_items_purchase_count, "Item Price": popular_items_purchase_price,
                                    "Total Purchase Value": item_purchase_value})

descending_summarytable_six_df = summarytable_six_df.sort_values(["Purchase Count"], ascending=False).head()

In [31]:
descending_summarytable_six_df["Total Purchase Value"] = descending_summarytable_six_df["Total Purchase Value"].map("${:.2f}".format)
descending_summarytable_six_df["Item Price"] = descending_summarytable_six_df["Item Price"].map("${:.2f}".format)

descending_summarytable_six_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
132,Persuasion,9,$28.99,$3.22
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [32]:
Another_descending_summarytable_six_df = descending_summarytable_six_df.sort_values(["Total Purchase Value"], ascending=False).head()

In [33]:
Another_descending_summarytable_six_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.61
145,Fiery Glass Crusader,9,$41.22,$4.58
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
132,Persuasion,9,$28.99,$3.22